//  .██████╗.██████╗.██╗......██████╗.██████╗.███████╗
//  ██╔════╝██╔═══██╗██║.....██╔═══██╗██╔══██╗██╔════╝
//  ██║.....██║...██║██║.....██║...██║██████╔╝███████╗
//  ██║.....██║...██║██║.....██║...██║██╔══██╗╚════██║
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║..██║███████║
//  .╚═════╝.╚═════╝.╚══════╝.╚═════╝.╚═╝..╚═╝╚══════╝
//  ..................................................
//Brand colors
$color-primario: #7566D9;
$color-secundario: #7F6DF2;
//Action colors
$color-variacion: #32378C;
//Boolean colors
$color-negative: #A82621;
$color-positive: #36F537;
//Background colors
$color-bg-claro: #FFFFFF;
$color-bg-oscuro: #181818;
//Basic colors
$color-claro: #eae8e8;
$color-oscuro: #282828;

