//  ███████╗.██████╗.███╗...██╗████████╗███████╗
//  ██╔════╝██╔═══██╗████╗..██║╚══██╔══╝██╔════╝
//  █████╗..██║...██║██╔██╗.██║...██║...███████╗
//  ██╔══╝..██║...██║██║╚██╗██║...██║...╚════██║
//  ██║.....╚██████╔╝██║.╚████║...██║...███████║
//  ╚═╝......╚═════╝.╚═╝..╚═══╝...╚═╝...╚══════╝
//  ............................................
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
//
$Fuente1: "Poppins",
sans-serif;
$Fuente2: "Raleway",
sans-serif;
//typos
$h1: 50px;
$h2: 30px;
$h3: 20px;
$p: 15px;
$small: 10px;
//Typo bolds
$black: 800;
$bolder: 700;
$medium: 600;
$normal: 500;
$light: 400;